.container {
  display: flex;
  align-items: flex-start;
  padding: 13px 18px 13px 18px;
  gap: 12px;
  border-radius: 4px;
  margin: 15px 0;
}

.container > div:has(.svg) {
  padding-right: 14px;
}

.title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.15px;
  margin-bottom: 10px;
}

.content {
  margin: 0;
  text-align: justify;
  line-height: 145%;
}

.error {
  background: var(--bt-alert-error-background);
  border: 1px solid rgba(245, 108, 157, 0.3);
  color: var(--bt-alert-error-color);
}

.warning {
  background: var(--bt-alert-warning-background);
  border: 1px solid rgba(255, 167, 38, 0.3);
  color: var(--bt-alert-warning-color);
}

.info {
  background: var(--bt-alert-info-background);
  border: 1px solid rgba(2, 136, 209, 0.3);
  color: var(--bt-alert-info-color);
}

.success {
  background: var(--bt-alert-success-background);
  border: 1px solid rgba(2, 136, 209, 0.3);
  color: var(--bt-alert-success-color);
}

.svg {
  margin: 0 auto;
  display: block;
  width: 25px;
  height: 25px;
}

.error .svg path {
  fill: var(--bt-alert-error-color);
}

.info .svg path {
  fill: var(--bt-alert-info-color);
}

.warning .svg path {
  fill: var(--bt-alert-warning-color);
}

.success .svg path {
  fill: var(--bt-alert-success-color);
}
