:root {
  --bt-beta-pill-color: #c27508;
}

[data-theme="dark"] {
  --bt-beta-pill-color: #f3cf8b;
}

.beta {
  align-self: center;
  background: rgba(240, 196, 111, 0.15);
  border: 1px solid rgba(255, 167, 38, 0.3);
  color: var(--bt-beta-pill-color);
  display: inline-flex !important;
  margin-right: 0 !important;
  margin-left: 8px;
  height: 20px;
  width: 40px;
}
