:root {
  --background-color: #fff;
}

[data-theme="dark"] {
  --background-color: var(--bt-sidebar-background-color);
}

.card-container {
  display: flex;
  flex-flow: row wrap;
  gap: 16px;
}

.card-container .card {
  width: 48.9%;
}

.card {
  display: flex;
  padding: 24px;
  box-shadow: var(--ifm-global-shadow-lw);
  border-radius: var(--bt-card-border-radius);
  background: var(--background-color);
  transition: box-shadow var(--ifm-transition-slow);
}

.clickable:hover {
  cursor: pointer;
}

.hoverable:hover {
  box-shadow: var(--bt-card-border-shadow-hover);
}

.raised {
  background: linear-gradient(106deg, #FFF 0%, #F5F7FF 90.78%), linear-gradient(0deg, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0.04) 100%), #FFF;
  box-shadow: 0px 0px 0px 1px rgba(207, 211, 232, 0.80) inset, 0px 4px 6px -1px rgba(7, 10, 27, 0.05), 0px 2px 4px -2px rgba(7, 10, 27, 0.05);
}

[data-theme='dark'] .raised {
  background: linear-gradient(108deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00) 83.91%), linear-gradient(0deg, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0.04) 100%), var(--ifm-background-color);
  box-shadow: 0px 8px 10px 0px rgba(4, 6, 17, 0.20), 0px 0px 0px 1px rgba(255, 255, 255, 0.10) inset;
}

.header {
  margin-bottom: 4px;
}

.primary-header {
  color: var(--ifm-heading-color);
  font-family: var(--ifm-heading-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  margin-bottom: 16px;
}

.secondary-header {
  color: var(--ifm-heading-color);
  font-family: var(--ifm-font-family-base);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
}

.body {
  display: flex;
  flex: auto;
  place-items: center;
  margin-bottom: 0;
  flex: auto;
  font-weight: 400;
  font-size: 14px;
  line-height: 145%;
}

.img {
  display: flex;
  margin-right: 24px;
  place-items: center;
}

.flex-direction {
  flex-direction: column;
}

.flex-direction .header {
  margin-top: 16px;
}

@media only screen and (max-width: 800px) {
  .card-container .card {
    width: 100%;
  }

  .img {
    margin-right: 0;
    margin-bottom: 12px;
  }

  .card {
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
}
