.card-container {
  display: flex;
  flex-flow: row wrap;
  row-gap: 16px;
  justify-content: space-between;
}

.card-container .card {
  width: 49%;
}

.card {
  display: flex;
  padding: 24px;
  box-shadow: var(--ifm-global-shadow-lw);
  border-radius: 8px;
}

.clickable:hover {
  cursor: pointer;
}

.card:hover {
  box-shadow: var(--ifm-global-shadow-lw);
}

.heading {
  margin-bottom: 6px;
}

.body {
  display: flex;
  flex: auto;
  place-items: center;
  margin-bottom: 0;
  flex: auto;
  font-weight: 400;
  font-size: 14px;
  line-height: 145%;
}

.img {
  margin-right: 24px;
}

@media only screen and (max-width: 800px) {
  .card-container .card {
    width: 100%;
  }

  .card {
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
}
