.container {
  background: var(--bt-card-background-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-between;
  flex-wrap: wrap;
  padding: 24px;
  gap: 16px;
  box-shadow: var(--ifm-global-shadow-lw);
  border-radius: 8px;
}
