:root {
  --bt-deprecated-pill-color: #f789b0;
}

[data-theme="dark"] {
  --bt-deprecated-pill-color: #f789b0;
}

.deprecated {
  align-self: center;
  background: rgba(245, 108, 157, 0.15);
  border: 1px solid rgba(245, 108, 157, 0.15);
  color: var(--bt-deprecated-pill-color);
  display: inline-flex !important;
  margin-right: 0 !important;
  margin-left: 8px;
  height: 20px;
  width: fit-content;
}
