.container {
  border-radius: var(--ifm-global-radius);
  background: linear-gradient(90deg, rgba(186, 205, 255, 0.1) 0.78%, rgba(186, 205, 255, 0.05) 41.41%);
  border: 1px solid rgba(150, 158, 194, 0.2);
  display: flex;
  align-items: center;
  padding: 8px 16px 8px 8px;
  margin-bottom: 20px;
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 140%;
}

.get {
  background: rgba(0, 164, 186, 0.15);
  color: #00a4ba;
  border: 1px solid rgba(0, 164, 186, 0.15);
}

.post {
  background: rgba(0, 182, 138, 0.15);
  border: 1px solid rgba(0, 182, 138, 0.15);
  color: #18b18c;
}

.put {
  background: rgba(83, 131, 255, 0.15);
  color: #5f8bff;
  border: 1px solid rgba(83, 131, 255, 0.15);
}

.patch {
  background: rgba(126, 101, 255, 0.15);
  border: 1px solid rgba(126, 101, 255, 0.15);
  color: #8f78ff;
}

.delete {
  color: #ef5596;
  background: rgba(239, 85, 150, 0.12);
  border: 1px solid rgba(239, 85, 150, 0.12);
}

.container .copy {
  display: flex;
  margin-left: auto;
  opacity: 0;
  cursor: pointer;
}

.container .copy:hover {
  opacity: 0.5;
}

.container:hover .copy {
  opacity: 1;
}

@media only screen and (max-width: 411px) {
  .container {
    overflow-y: hidden;
  }

  .container .copy {
    opacity: 1;
    margin-left: 16px;
  }
}
