.method {
  font-family: "Source Code Pro", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 180%;
  letter-spacing: 0.15px;
  color: #fff;
  border-radius: 1px;
  padding: 0 8px;
  margin: 0 10px;
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 2px;
  display: inline-block;
}

.container {
  border-radius: 1px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto 1fr;
  grid-template-columns: auto auto 1fr;
  align-items: center;
  padding: 8px 16px 8px 8px;
  margin-bottom: 20px;
}

.get {
  background: #e9feff;
  border: 1px solid #d4f2f4;
}

.container .method-wrapper {
  min-width: 80px;
  display: inline-block;
}

.get .method {
  background-color: #1ad1db;
}

.post {
  background-color: #e8fff9;
  border: 1px solid #c6efe5;
}

.post .method {
  background-color: #3ac3a2;
}

.put {
  background-color: #e9edff;
  border: 1px solid #d8deff;
}
.put .method {
  background-color: #5f7bff;
}
.patch {
  background-color: #e9e4ff;
  border: 1px solid #d3ccf9;
}
.patch .method {
  background-color: #7e67f3;
}
.delete {
  background-color: #fff0f1;
  border: 1px solid #ffdcde;
}
.delete .method {
  background-color: #fb5b8b;
}

.container code {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  font-weight: 500;
  line-height: 17.6px;
  font-style: normal;
  color: #1e233b;
}

.container .copy {
  -ms-grid-column-align: end;
  justify-self: end;
  cursor: pointer;
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 1;
  grid-row: 1;
}
.container .copy:hover {
  opacity: 0.8;
}
