.container {
  display: flex;
  place-content: space-between;
  padding: 0px 0px 24px;
  margin-bottom: 40px;
  border-bottom: 1px solid var(--bt-default-border-color);
}

.content {
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;
}

.img-container {
  background: var(--bt-intro-image-background) no-repeat -83px -87px;
}

.img-container img {
  max-width: none;
}

@media only screen and (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
    height: auto;
    place-content: space-between;
    padding: 0px 0px 24px;
    margin-bottom: 0;
    border-bottom: 1px solid var(--bt-default-border-color);
  }

  .img-container {
    display: none;
  }
}
