/* needs fixes for mobile */

.container {
  display: flex;
  height: 160px;
  place-content: space-between;
  padding: 0px 0px 24px;
  margin-bottom: 40px;
  border-bottom: 1px solid var(--bt-default-border-color);
}

.content {
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;
}

.img-container {
  position: relative;
  top: -100%;
}
