.container {
  display: flex;
  height: 100px;
  place-content: space-between;
  padding: 0px 0px 24px;
  margin-bottom: 40px;
  border-bottom: 1px solid var(--bt-default-border-color);
}

.content {
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;
}

.img-container {
  position: relative;
  top: -150px;
}

@media only screen and (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
    height: auto;
    place-content: space-between;
    padding: 0px 0px 24px;
    margin-bottom: 0;
    border-bottom: 1px solid var(--bt-default-border-color);
  }

  .img-container {
    display: inherit;
    position: unset;
    place-content: center;
  }
}
