.container .content {
  font-family: "Source Code Pro", monospace;
  font-weight: 500;
  line-height: 180%;
  color: #1e233b;
  background-color: #cacddb;
  display: inline-block;
  border: 1px solid #d9dbf8;
  border-radius: 1px;
  padding: 0px 8px;
}
