.primary {
  background-color: rgba(0, 164, 186, 0.15);
  border: 1px solid rgba(0, 164, 186, 0.15);
  color: var(--ifm-color-primary);
}

.secondary {
  background-color: rgba(83, 131, 255, 0.15);
  border: 1px solid rgba(83, 131, 255, 0.15);
  color: #5383ff;
}
