/* needs fixes for mobile */

.container {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.icon {
  margin-right: 24px;
}

.icon svg {
  width: 100px;
  height: 100px;
}

.icon p {
  display: block;
  margin: 0 auto;
}

.content {
  display: flex;
  flex: auto;
  flex-direction: column;
}

.content h3 {
  margin-bottom: 6px;
}

.repository {
  font-family: var(--ifm-font-family-monospace);
  font-weight: 600;
  font-size: 12px;
  line-height: 140%;
  margin-bottom: 18px;
}

.repository p {
  display: flex;
  margin-bottom: 0;
}
.repository p svg {
  margin-right: 6px;
}
