.card {
  padding: 0 !important;
}

.card > div:first-child {
  margin: 0;
  display: contents;
}
.card > div:nth-child(2) {
  padding: 24px;
}

.card img,
.card svg {
  border-radius: var(--bt-card-border-radius) var(--bt-card-border-radius) 0 0;
}
