.card {
  padding: 0 !important;
}

.card > div:has(img),
.card > div:has(svg) {
  margin: 0;
  display: contents;
}
.card > div:not(:has(img)),
.card > div:not(:has(svg)) {
  padding: 24px;
}

.card img,
.card svg {
  border-radius: var(--ifm-global-radius) var(--ifm-global-radius) 0 0;
}
