#kapa-widget-container > button {
  background-color: transparent !important;
  box-shadow: none !important;
}

#kapa-widget-container > button > * {
  display: none;
}

#kapa-widget-container > button::after {
  content: url("/img/ask-ai-logo.svg");
  position: absolute;
  bottom: 0;
  right: 0;
  height: 48px;
  width: 48px;
  box-shadow: 0px 0px 0px 0px rgba(126, 101, 255, 0.2), 0px 0px 0px 0px rgba(126, 101, 255, 0.16);
  border-radius: 48px;
  transition: box-shadow 0.3s ease-in-out;
}

#kapa-widget-container > button:hover::after {
  box-shadow: 0px 0px 0px 3px rgba(126, 101, 255, 0.2), 0px 0px 0px 7px rgba(126, 101, 255, 0.16);
}


#kapa-widget-container > button::before {
  content: 'Ask AI';
  font-size: 12px;
  padding: 3px 8px;
  background: rgba(126, 101, 255, 0.15);
  color: var(--ifm-heading-color);
  border-radius: 28px;
  border: 1px solid rgba(126, 101, 255, 0.15);
  position: absolute;
  right: -3px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}


#kapa-widget-container > button:hover::before {
  position: absolute;
  transform: translateY(-40px);
  opacity: 1;
}

