:root {
  --bt-card-text-color: var(--ifm-font-color-base);
}

[data-theme="dark"] {
  --bt-card-text-color: var(--ifm-heading-color);
}

.container {
  width: var(--ifm-container-width);
  margin: 48px auto;
}

.container > main > div:not(:first-of-type),
.container > main > div:not(:last-of-type) {
  margin-top: 48px;
}

.card {
  padding: 56px;
}

.card > div {
  display: block;
}

.card-body {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
}

.card-body > a {
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  flex-direction: column;
  text-align: center;
}

.card-body p {
  margin: 0;
  color: var(--bt-card-text-color);
}

.quickstarts {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: var(--bt-card-text-color);
}

.quickstarts-container {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.quickstarts-container > div {
  display: flex;
  gap: 16px;
  flex-flow: column wrap;
  flex: 0 0 33.333333%;
}

.quickstart-column {
  display: flex;
  gap: 8px;
  flex-flow: row wrap;
  flex: 0 0 33.333333%;
}

.quickstart-column > div {
  flex: 0 1;
}

.quickstart {
  border-radius: 8px;
  padding: 6px 12px 6px 12px;
}

.quickstart * {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
}

.quickstart div:has(svg),
.quickstart div:has(img) {
  margin-right: 8px;
}

.quickstart div:has(img) {
  width: 32px;
  height: 32px;
}

.explore-cards-container {
  display: flex;
  flex-direction: column;
}

.explore-cards {
  display: flex;
  gap: 16px;
  flex-flow: row wrap;
}

.explore-cards > div {
  flex: 1 1 30%;
}

@media only screen and (max-width: 600px) {
  .quickstart {
    width: 100% !important;
  }
}

@media only screen and (max-width: 770px) {
  .card {
    align-items: flex-start;
    padding: inherit;
  }

  .card-body {
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
  }

  .card-body img {
    margin-right: 16px;
    width: 56px;
  }

  .card-body div {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .card-body a:not(:first-child) {
    margin-top: 24px;
  }

  .arrow {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  .quickstarts-container {
    flex-direction: column;
  }

  .quickstart-column {
    gap: 16px;
  }

  .quickstart-column > div {
    flex: 0 0;
    flex-flow: row nowrap;
  }
  .quickstart div:has(svg),
  .quickstart div:has(img) {
    margin: 0px;
    margin-right: 8px;
  }

  .quickstart svg,
  .quickstart img {
    height: 42px;
    width: 42px;
  }

  .explore-cards > div {
    flex: 1 1 auto;
  }
}

@media only screen and (min-width: 600px) {
  .quickstart div:has(svg),
  .quickstart div:has(img) {
    margin-right: 8px;
  }
}

@media only screen and (min-width: 1280px) {
  .container {
    width: var(--ifm-container-width-xl);
  }
}
