.container {
  width: var(--ifm-container-width);
  margin: 48px auto;
}

.container > main > div:not(:first-of-type),
.container > main > div:not(:last-of-type) {
  margin-top: 48px;
}

.card {
  padding: 56px;
}

.card > div {
  display: block;
}

.card-body {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
}

.card-body > div {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  flex-direction: column;
  text-align: center;
}

.card-body p {
  margin: 0;
}

.quickstarts {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: var(--ifm-heading-color);
}

.quickstarts-container {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.quickstarts-container > div {
  display: flex;
  gap: 16px;
  flex-flow: column wrap;
  flex: 0 0 33.333333%;
}

.quickstart-column {
  display: flex;
  gap: 8px;
  flex-flow: row wrap;
  flex: 0 0 33.333333%;
}

.quickstart-column > div {
  flex: 0 1;
}

.quickstart {
  border-radius: 8px;
  padding: 10px 20px 10px 15px;
}

.quickstart * {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
}

.quickstart div:has(svg),
.quickstart div:has(img) {
  margin-right: 8px;
}

.quickstart div:has(img) {
  width: 32px;
  height: 32px;
}

.explore-cards-container {
  display: flex;
  flex-direction: column;
}

.explore-cards {
  display: flex;
  gap: 24px;
  flex-flow: row wrap;
}

.explore-cards > div {
  flex: 1 1 30%;
}

@media only screen and (max-width: 600px) {
  .quickstarts-container {
    flex-direction: column;
  }
  .quickstarts-container > div {
    width: 100%;
  }

  .quickstart {
    flex: auto !important;
    width: 100%;
    padding: 10px 20px 10px 20px;
  }

  .quickstart div:not(:has(svg)) {
    display: none;
  }
  .quickstart div:has(svg),
  .quickstart div:has(img) {
    display: contents;
  }

  .quickstart div:has(svg) {
    margin: 0px;
  }

  .quickstart svg,
  .quickstart img {
    height: 100px;
    width: 100px;
  }
}

@media only screen and (min-width: 600px) {
  .quickstart div:has(svg),
  .quickstart div:has(img) {
    margin-right: 8px;
  }
}

@media only screen and (min-width: 1280px) {
  .container {
    width: var(--ifm-container-width-xl);
  }
}
