:root {
  --bt-card-text-color: var(--ifm-font-color-base);

  --bt-card-background-image: center repeat
      url("/img/homepage/card-background-light.png"),
    var(--bt-card-gradient-background);
  --bt-card-gradient-background: linear-gradient(
    99.18deg,
    #ffffff 12.27%,
    #fafbff 71.38%
  );

  --bt-step-getting-started-default-box-shadow: 0px 2px 4px -2px rgba(7, 10, 27, 0.05),
    0px 4px 6px -1px rgba(7, 10, 27, 0.05), inset 0px 0px 0px 1px #9fd8e0;
  --bt-step-getting-started-border-hover: 2px solid #10c0d9;
  --bt-step-getting-started-box-shadow-hover: 0px 0px 6px
      rgba(16, 192, 217, 0.3),
    0px 2px 4px -2px rgba(7, 10, 27, 0.05),
    0px 4px 6px -1px rgba(7, 10, 27, 0.05), inset 0px 0px 0px 1px #9fd8e0;

  --bt-step-collect-data-default-box-shadow: 0px 2px 4px -2px rgba(7, 10, 27, 0.05),
    0px 4px 6px -1px rgba(7, 10, 27, 0.05), inset 0px 0px 0px 1px #c3d4ff;
  --bt-step-collect-data-border-hover: 2px solid #5383ff;
  --bt-step-collect-data-box-shadow-hover: 0px 0px 6px rgba(83, 131, 255, 0.3),
    0px 2px 4px -2px rgba(7, 10, 27, 0.05),
    0px 4px 6px -1px rgba(7, 10, 27, 0.05), inset 0px 0px 0px 1px #9fd8e0;

  --bt-step-share-data-default-box-shadow: 0px 2px 4px -2px rgba(7, 10, 27, 0.05),
    0px 4px 6px -1px rgba(7, 10, 27, 0.05), inset 0px 0px 0px 1px #cdc3ff;
  --bt-step-share-data-border-hover: 2px solid #7e65ff;
  --bt-step-share-data-box-shadow-hover: 0px 0px 6px rgba(126, 101, 255, 0.3),
    0px 2px 4px -2px rgba(7, 10, 27, 0.05),
    0px 4px 6px -1px rgba(7, 10, 27, 0.05), inset 0px 0px 0px 1px #9fd8e0;

  --bt-step-process-data-default-box-shadow: 0px 2px 4px -2px rgba(7, 10, 27, 0.05),
    0px 4px 6px -1px rgba(7, 10, 27, 0.05), inset 0px 0px 0px 1px #f3cae3;
  --bt-step-process-data-border-hover: 2px solid #e779bb;
  --bt-step-process-data-box-shadow-hover: 0px 0px 6px rgba(231, 121, 187, 0.3),
    0px 2px 4px -2px rgba(7, 10, 27, 0.05),
    0px 4px 6px -1px rgba(7, 10, 27, 0.05), inset 0px 0px 0px 1px #9fd8e0;

  --bt-step-govern-data-default-box-shadow: 0px 2px 4px -2px rgba(7, 10, 27, 0.05),
    0px 4px 6px -1px rgba(7, 10, 27, 0.05),
    inset 0px 0px 0px 1px rgba(207, 211, 232, 0.8);
  --bt-step-govern-data-border-hover: 2px solid #6a738c;
  --bt-step-govern-data-box-shadow-hover: 0px 0px 6px rgba(106, 115, 140, 0.3),
    0px 2px 4px -2px rgba(7, 10, 27, 0.05),
    0px 4px 6px -1px rgba(7, 10, 27, 0.05), inset 0px 0px 0px 1px #9fd8e0;
}

[data-theme="dark"] {
  --bt-card-text-color: var(--ifm-heading-color);
  --bt-card-background-image: center / contain repeat-x
      url("/img/homepage/card-background-dark.png"),
    var(--bt-card-gradient-background);
  --bt-card-gradient-background: linear-gradient(
    104.37deg,
    #1c2036 10.89%,
    #0d1025 83.51%
  );

  --bt-step-getting-started-default-box-shadow: 0px 2px 4px -2px rgba(7, 10, 27, 0.2),
    0px 4px 6px -1px rgba(7, 10, 27, 0.1),
    inset 0px 0px 0px 1px rgba(159, 216, 224, 0.2);
  --bt-step-getting-started-border-hover: 2px solid #10c0d9;
  --bt-step-getting-started-box-shadow-hover: 0px 0px 10px
      rgba(16, 192, 217, 0.4),
    0px 2px 4px -2px rgba(7, 10, 27, 0.5), 0px 4px 6px -1px rgba(7, 10, 27, 0.1),
    inset 0px 0px 0px 1px rgba(159, 216, 224, 0.2);

  --bt-step-collect-data-default-box-shadow: 0px 2px 4px -2px rgba(7, 10, 27, 0.05),
    0px 4px 6px -1px rgba(7, 10, 27, 0.05),
    inset 0px 0px 0px 1px rgba(83, 131, 255, 0.2);
  --bt-step-collect-data-border-hover: 2px solid #5383ff;
  --bt-step-collect-data-box-shadow-hover: 0px 0px 10px rgba(83, 131, 255, 0.4),
    0px 2px 4px -2px rgba(7, 10, 27, 0.05),
    0px 4px 6px -1px rgba(7, 10, 27, 0.05),
    inset 0px 0px 0px 1px rgba(83, 131, 255, 0.2);

  --bt-step-share-data-default-box-shadow: 0px 2px 4px -2px rgba(7, 10, 27, 0.05),
    0px 4px 6px -1px rgba(7, 10, 27, 0.05),
    inset 0px 0px 0px 1px rgba(126, 101, 255, 0.2);
  --bt-step-share-data-border-hover: 2px solid #7e65ff;
  --bt-step-share-data-box-shadow-hover: 0px 0px 10px rgba(126, 101, 255, 0.4),
    0px 2px 4px -2px rgba(7, 10, 27, 0.05),
    0px 4px 6px -1px rgba(7, 10, 27, 0.05),
    inset 0px 0px 0px 1px rgba(126, 101, 255, 0.2);

  --bt-step-process-data-default-box-shadow: 0px 2px 4px -2px rgba(7, 10, 27, 0.05),
    0px 4px 6px -1px rgba(7, 10, 27, 0.05),
    inset 0px 0px 0px 1px rgba(174, 119, 155, 0.2);
  --bt-step-process-data-border-hover: 2px solid #e779bb;
  --bt-step-process-data-box-shadow-hover: 0px 0px 10px rgba(243, 165, 212, 0.4),
    0px 2px 4px -2px rgba(7, 10, 27, 0.05),
    0px 4px 6px -1px rgba(7, 10, 27, 0.05),
    inset 0px 0px 0px 1px rgba(174, 119, 155, 0.2);

  --bt-step-govern-data-default-box-shadow: 0px 2px 4px -2px rgba(7, 10, 27, 0.05),
    0px 4px 6px -1px rgba(7, 10, 27, 0.05),
    inset 0px 0px 0px 1px rgba(106, 115, 140, 0.2);
  --bt-step-govern-data-border-hover: 2px solid #6a738c;
  --bt-step-govern-data-box-shadow-hover: 0px 0px 10px rgba(106, 115, 140, 0.4),
    0px 2px 4px -2px rgba(7, 10, 27, 0.05),
    0px 4px 6px -1px rgba(7, 10, 27, 0.05),
    inset 0px 0px 0px 1px rgba(106, 115, 140, 0.2);
}

.container {
  width: var(--ifm-container-width);
  margin: 48px auto;
}

.container > main > div:not(:first-of-type),
.container > main > div:not(:last-of-type) {
  margin-top: 48px;
}

.card {
  background: var(--bt-card-background-image);
  padding: 56px;
}

.card > div {
  display: block;
}

.card-body {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
}

.card-body > a {
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  flex-direction: column;
  text-align: center;
}

.img-container {
  width: 104px;
  height: 104px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.getting-started-img-container {
  box-shadow: var(--bt-step-getting-started-default-box-shadow);
}

.collect-data-img-container {
  box-shadow: var(--bt-step-collect-data-default-box-shadow);
}

.share-data-img-container {
  box-shadow: var(--bt-step-share-data-default-box-shadow);
}

.process-data-img-container {
  box-shadow: var(--bt-step-process-data-default-box-shadow);
}

.govern-data-img-container {
  box-shadow: var(--bt-step-govern-data-default-box-shadow);
}

.img-container--hover {
  width: 104px;
  height: 104px;
  transition: border var(--ifm-transition-slow);
  transition: box-shadow var(--ifm-transition-slow);
}

.step p {
  color: var(--ifm-heading-color) !important;
}

.getting-started-img--hover {
  outline: var(--bt-step-getting-started-border-hover);
  box-shadow: var(--bt-step-getting-started-box-shadow-hover);
}

.collect-data-img--hover {
  outline: var(--bt-step-collect-data-border-hover);
  box-shadow: var(--bt-step-collect-data-box-shadow-hover);
}
.share-data-img--hover {
  outline: var(--bt-step-share-data-border-hover);
  box-shadow: var(--bt-step-share-data-box-shadow-hover);
}
.process-data-img--hover {
  outline: var(--bt-step-process-data-border-hover);
  box-shadow: var(--bt-step-process-data-box-shadow-hover);
}
.govern-data-img--hover {
  outline: var(--bt-step-govern-data-border-hover);
  box-shadow: var(--bt-step-govern-data-box-shadow-hover);
}
.card-body p {
  margin: 0;
  color: var(--ifm-font-color-base);
}

.sdks {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: var(--bt-card-text-color);
}

.sdks-container {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.sdks-container > div {
  display: flex;
  gap: 16px;
  flex-flow: column wrap;
  flex: 0 0 33.333333%;
}

.sdk-column {
  display: flex;
  gap: 8px;
  flex-flow: row wrap;
  flex: 0 0 33.333333%;
}

.sdk-column > div {
  flex: 0 1;
}

.sdk {
  border-radius: 8px;
  height: 44px;
  padding: 6px 12px 6px 12px;
}

.sdk * {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
}

.sdk div:first-child {
  margin-right: 8px;
}

.sdk .logo-container {
  width: 32px;
  height: 32px;
  margin: 0px !important;
}

.explore-cards-container {
  display: flex;
  flex-direction: column;
}

.explore-cards {
  display: flex;
  gap: 16px;
  flex-flow: row wrap;
}

.explore-cards > div {
  flex: 1 1 30%;
}

@media only screen and (max-width: 600px) {
  .sdk {
    width: 100% !important;
  }
}

@media only screen and (max-width: 770px) {
  .card {
    align-items: flex-start;
    padding: inherit;
  }

  .card-body {
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
  }

  .card-body div {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .card-body a:not(:first-child) {
    margin-top: 24px;
  }

  .img-container {
    width: 56px;
    height: 56px;
    margin-right: 15px;
    margin-bottom: 0px;
  }

  .arrow {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  .sdks-container {
    flex-direction: column;
  }

  .sdk-column {
    gap: 16px;
  }

  .sdk-column > div {
    flex: 0 0;
    flex-flow: row nowrap;
  }
  .sdk div:has(svg),
  .sdk div:has(img) {
    margin: 0px;
    margin-right: 8px;
  }

  .sdk svg,
  .sdk img {
    height: 42px;
    width: 42px;
  }

  .explore-cards > div {
    flex: 1 1 auto;
  }
}

@media only screen and (min-width: 600px) {
  .sdk div:has(svg),
  .sdk div:has(img) {
    margin-right: 8px;
  }
}

@media only screen and (min-width: 1280px) {
  .container {
    width: var(--ifm-container-width-xl);
  }
}
