a:has(.icon-edit) {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
}

.icon-edit {
  margin-right: 10px;
}

.icon-edit path {
  fill: var(--ifm-color-primary);
}

@media screen and (max-width: 996px) {
  a:has(.icon-edit) {
    place-content: center;
  }
}
