.container {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
}

.container svg {
  margin-right: 10px;
}

.container svg path {
  fill: var(--ifm-color-primary);
}

@media only screen and (max-width: 1024px) {
  .container {
    place-content: center;
  }
}
