.github {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 10px 0 20px;
  width: 25px;
  width: 25px;
}

.github svg {
  width: inherit;
  height: inherit;
}

.github svg path {
  fill: var(--ifm-font-color-base);
}
