:root {
  --bt-heading-font-style: normal;
  --bt-heading-letter-spacing: -1px;
  --bt-code-font-family: "Source Code Pro";
  --bt-tabs-border-color: #d1d7ff;
  --bt-component-border-color: #cacddb;

  /* Code */
  --bt-code-block-background-color: #f9faff;
  --bt-code-title-background-color: #f3f5fd;

  /* Sidebar */
  --bt-sidebar-background-color: #f3f5fd;
  --bt-default-border-color: rgba(209, 215, 255, 0.4);
  --bt-menu-color-background-hover: #e5e9ff;
  --bt-menu-color-background-active: linear-gradient(90deg, #e5e9ff 0%, rgba(229, 233, 255, 0) 100%);
  --bt-menu-color-background-active-hover: linear-gradient(90deg, rgba(229, 233, 255, 0.5) 0%, rgba(229, 233, 255, 0) 100%);

  /* Alerts */
  --bt-alert-warning-color: #5f2b01;
  --bt-alert-warning-background: linear-gradient(90deg, rgba(255, 167, 38, 0.2) 0.78%, rgba(255, 167, 38, 0.05) 41.41%);
  --bt-alert-error-color: #622036;
  --bt-alert-error-background: linear-gradient(90deg, rgba(246, 81, 136, 0.2) 0.78%, rgba(246, 81, 136, 0.05) 41.41%);
  --bt-alert-info-color: #114762;
  --bt-alert-info-background: linear-gradient(90deg, rgba(41, 182, 246, 0.2) 0.78%, rgba(41, 182, 246, 0.05) 41.41%);
  --bt-alert-success-color: #004937;
  --bt-alert-success-background: linear-gradient(90deg, rgba(0, 182, 138, 0.2) 0.78%, rgba(0, 182, 138, 0.05) 41.41%);
  --bt-alert-neutral-color: #606376;
  --bt-alert-neutral-border-color: rgba(7, 10, 27, 0.23);
  --bt-alert-neutral-background: linear-gradient(90deg, rgba(232, 240, 255, 0.20) 0.78%, rgba(255, 255, 255, 0.05) 41.41%);

  /* Cards */
  --bt-card-border-radius: 10px;
  --bt-primary-button-color: #fff;
  --bt-card-border-shadow-hover: 0px 10px 15px -3px rgba(7, 10, 27, 0.05), 0px 4px 6px -4px rgba(7, 10, 27, 0.05), inset 0px 0px 0px 1px #b9bcd1;

  /* intro */

  --bt-intro-image-background: url("data:image/svg+xml,%3Csvg width='280' height='280' viewBox='0 0 280 280' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M172.578 140H140M172.578 140H192.125M172.578 140V119.367M172.578 140H226.875M172.578 140V172.578M172.578 140H279M140 140V107.422M140 140H107.422M140 140V172.578M279 140H192.125M279 140V53.125M279 140H226.875M279 140V279H226.875M140 107.422V53.125M140 107.422H172.578M140 107.422V87.875M140 107.422H119.367M140 107.422V1M192.125 140V119.367M279 53.125V1H140M279 53.125H192.125M140 1V53.125M140 1V87.875M140 1H53.125M140 53.125H192.125M192.125 53.125V107.422M192.125 107.422H180.18M192.125 107.422V119.367M172.578 107.422H180.18M172.578 107.422V119.367M180.18 107.422V119.367M180.18 119.367H172.578M180.18 119.367H192.125M107.422 140H53.125M107.422 140V107.422M107.422 140H87.875M107.422 140V160.633M107.422 140H1M140 87.875H119.367M53.125 1H1V140M53.125 1V87.875M1 140H53.125M1 140H87.875M1 140V226.875M53.125 140V87.875M53.125 87.875H107.422M107.422 87.875V99.8203M107.422 87.875H119.367M107.422 107.422V99.8203M107.422 107.422H119.367M107.422 99.8203H119.367M119.367 99.8203V107.422M119.367 99.8203V87.875M140 172.578V192.125M140 172.578H160.633M140 172.578V226.875M140 172.578H107.422M140 172.578V279M140 279V192.125M140 279H226.875M140 279V226.875M140 279H1V226.875M140 192.125H160.633M226.875 279V192.125M226.875 140V192.125M226.875 192.125H172.578M172.578 192.125V180.18M172.578 192.125H160.633M172.578 172.578V180.18M172.578 172.578H160.633M172.578 180.18H160.633M160.633 180.18V172.578M160.633 180.18V192.125M87.875 140V160.633M1 226.875H87.875M140 226.875H87.875M87.875 226.875V172.578M87.875 172.578H99.8203M87.875 172.578V160.633M107.422 172.578H99.8203M107.422 172.578V160.633M99.8203 172.578V160.633M99.8203 160.633H107.422M99.8203 160.633H87.875' stroke='url(%23paint0_radial_773_20104)' stroke-width='1.31132' /%3E%3Cdefs%3E%3CradialGradient id='paint0_radial_773_20104' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(140 140.5) rotate(45) scale(63.6396 86.0615)'%3E%3Cstop stop-color='%23E0E7FF' /%3E%3Cstop offset='1' stop-color='%23E0E7FF' stop-opacity='0' /%3E%3C/radialGradient%3E%3C/defs%3E%3C/svg%3E");

  /* Mermaid */
  /* Base */
  --bt-mermaid-font-family: var(--ifm-font-family-base);
  --bt-mermaid-main-bkg: #edf0ff;
  --bt-mermaid-text-color: var(--ifm-heading-color);
  /* Flowchart */
  --bt-mermaid-node-border: rgba(150, 158, 194, 0.6);
  --bt-mermaid-cluster-bkg: #fff;
  --bt-mermaid-cluster-border: rgba(150, 158, 194, 0.6);
  --bt-mermaid-title-color: var(--ifm-heading-color);
  --bt-mermaid-edge-label-background: #fff;
  --bt-mermaid-node-text-color: var(--ifm-heading-color);
}

/* For readability concerns you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  /* BT variables */

  --bt-tabs-border-color: #323649;

  /* Code */
  --bt-code-block-background-color: #111424;
  --bt-code-title-background-color: #161929;

  /* Sidebar */
  --bt-sidebar-background-color: #121324;
  --bt-default-border-color: rgba(209, 215, 255, 0.15);
  --bt-menu-color-background-hover: linear-gradient(0deg, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0.08));
  --bt-menu-color-background-active: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
  --bt-menu-color-background-active-hover: linear-gradient(90deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0) 100%);

  /* Alerts */
  --bt-alert-warning-color: #ffa726;
  --bt-alert-warning-background: linear-gradient(90deg, rgba(255, 167, 38, 0.2) 0.78%, rgba(255, 167, 38, 0.05) 41.41%);
  --bt-alert-error-color: #f56c9d;
  --bt-alert-error-background: linear-gradient(90deg, rgba(245, 108, 157, 0.2) 0.78%, rgba(245, 108, 157, 0.05) 41.41%);
  --bt-alert-info-color: #0288d1;
  --bt-alert-info-background: linear-gradient(90deg, rgba(41, 182, 246, 0.2) 0.78%, rgba(41, 182, 246, 0.05) 41.41%);
  --bt-alert-success-color: #00b68a;
  --bt-alert-success-background: linear-gradient(90deg, rgba(0, 182, 138, 0.2) 0.78%, rgba(0, 182, 138, 0.05) 41.41%);
  --bt-alert-neutral-color: #EBEDFF;
  --bt-alert-neutral-border-color: rgba(234, 239, 255, 0.10);
  --bt-alert-neutral-background: linear-gradient(90deg, rgba(234, 239, 255, 0.08) 0.78%, rgba(234, 239, 255, 0.05) 41.41%);

  /* Cards */

  --bt-primary-button-color: #000;
  --bt-card-border-shadow-hover: 0px 8px 10px rgba(4, 6, 17, 0.2), inset 0px 0px 0px 1px rgba(255, 255, 255, 0.18);

  /* intro */
  --bt-intro-image-background: url("data:image/svg+xml,%3Csvg width='280' height='279' viewBox='0 0 280 279' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.2' d='M172.578 139.5H140M172.578 139.5H192.125M172.578 139.5V118.867M172.578 139.5H226.875M172.578 139.5V172.078M172.578 139.5H279M140 139.5V106.922M140 139.5H107.422M140 139.5V172.078M279 139.5H192.125M279 139.5V52.625M279 139.5H226.875M279 139.5V278.5H226.875M140 106.922V52.625M140 106.922H172.578M140 106.922V87.375M140 106.922H119.367M140 106.922V0.5M192.125 139.5V118.867M279 52.625V0.5H140M279 52.625H192.125M140 0.5V52.625M140 0.5V87.375M140 0.5H53.125M140 52.625H192.125M192.125 52.625V106.922M192.125 106.922H180.18M192.125 106.922V118.867M172.578 106.922H180.18M172.578 106.922V118.867M180.18 106.922V118.867M180.18 118.867H172.578M180.18 118.867H192.125M107.422 139.5H53.125M107.422 139.5V106.922M107.422 139.5H87.875M107.422 139.5V160.133M107.422 139.5H1M140 87.375H119.367M53.125 0.5H1V139.5M53.125 0.5V87.375M1 139.5H53.125M1 139.5H87.875M1 139.5V226.375M53.125 139.5V87.375M53.125 87.375H107.422M107.422 87.375V99.3203M107.422 87.375H119.367M107.422 106.922V99.3203M107.422 106.922H119.367M107.422 99.3203H119.367M119.367 99.3203V106.922M119.367 99.3203V87.375M140 172.078V191.625M140 172.078H160.633M140 172.078V226.375M140 172.078H107.422M140 172.078V278.5M140 278.5V191.625M140 278.5H226.875M140 278.5V226.375M140 278.5H1V226.375M140 191.625H160.633M226.875 278.5V191.625M226.875 139.5V191.625M226.875 191.625H172.578M172.578 191.625V179.68M172.578 191.625H160.633M172.578 172.078V179.68M172.578 172.078H160.633M172.578 179.68H160.633M160.633 179.68V172.078M160.633 179.68V191.625M87.875 139.5V160.133M1 226.375H87.875M140 226.375H87.875M87.875 226.375V172.078M87.875 172.078H99.8203M87.875 172.078V160.133M107.422 172.078H99.8203M107.422 172.078V160.133M99.8203 172.078V160.133M99.8203 160.133H107.422M99.8203 160.133H87.875' stroke='url(%23paint0_radial_773_20388)' /%3E%3Cdefs%3E%3CradialGradient id='paint0_radial_773_20388' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(140 140) rotate(45) scale(63.6396 86.0615)'%3E%3Cstop stop-color='%23E0E7FF' /%3E%3Cstop offset='1' stop-color='%23E0E7FF' stop-opacity='0' /%3E%3C/radialGradient%3E%3C/defs%3E%3C/svg%3E");

  /* Mermaid */
  /* Base */
  /* Flowchart */
  --bt-mermaid-edge-label-background: var(--ifm-background-color);
  --bt-mermaid-cluster-bkg: #121424;
}
