.theme-code-block {
  box-shadow: none !important;
  border: 1px solid var(--bt-tabs-border-color);

  div:first-child:not(:only-child) {
    // code title
    background-color: var(--bt-code-title-background-color);
    border-bottom: 1px solid var(--bt-tabs-border-color);
    padding-top: 8px;
    font-size: 14px;
    padding-bottom: 8px;
  }

  & pre {
    background-color: transparent !important;
  }
  & code {
    border-radius: var(--ifm-global-radius);
  }
}
