.theme-code-block {
  box-shadow: var(--ifm-global-shadow-lw) !important;

  & pre {
    background-color: transparent !important;
  }
  & code {
    border: 1px solid transparent;
    border-radius: var(--ifm-global-radius);
  }
}
