.theme-doc-markdown img,
.theme-doc-markdown svg {
  border-radius: var(--ifm-global-radius);
}

.row {
  margin: 0;
}

//ToC

.theme-doc-toc-desktop {
  font-weight: 500;
}

.table-of-contents li {
  margin: var(--ifm-toc-padding-vertical) 0 var(--ifm-toc-padding-vertical) var(--ifm-toc-padding-horizontal)
}
