.theme-doc-footer-edit-meta-row {
  display: flex;
  align-items: center;
  padding: 8px;
  gap: 24px;
  background: var(--bt-sidebar-background-color);
  border: 1px solid var(--bt-default-border-color);
  border-radius: 8px;

  & div {
    margin: 0 !important;
  }

  & .theme-last-updated {
    text-align: right;
    letter-spacing: 0.1px;
    font-style: normal;
    color: var(--ifm-navbar-link-color);

    & b {
      color: rgba(96, 99, 118, 1);
    }
  }
}

@media only screen and (max-width: 1024px) {
  div:has(> .theme-last-updated) {
    display: flex;
    justify-content: center;
  }
}
