.theme-doc-footer-edit-meta-row {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  gap: 24px;
  background: rgba(7, 10, 27, 0.04);
  border: 1px solid rgba(7, 10, 27, 0.04);
  border-radius: 8px;
  margin: 0 !important;
}

.theme-last-updated {
  font-weight: 500;
  font-size: 14px;
  line-height: 145%;
  text-align: right;
  letter-spacing: 0.1px;
  font-style: normal;
  color: var(--ifm-navbar-link-color);

  & b {
    color: var(--ifm-font-color-base);
  }
}

@media only screen and (max-width: 1024px) {
  div:has(> .theme-last-updated) {
    display: flex;
    justify-content: center;
  }
}
