h1 {
  font-size: 48px;
  font-style: var(--bt-heading-font-style);
  letter-spacing: var(--bt-heading-letter-spacing);
}

h2 {
  font-size: 32px;
  font-style: var(--bt-heading-font-style);
  letter-spacing: var(--bt-heading-letter-spacing);
}

h3 {
  font-size: 24px;
  font-style: var(--bt-heading-font-style);
  letter-spacing: var(--bt-heading-letter-spacing);
}

/* TODO: h4-h6  */

p {
  line-height: 160%;
  letter-spacing: -0.1px;
}

code {
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: var(--ifm-font-color-base);
  font-weight: 500;
}
