.navbar {
  border: 1px solid var(--bt-default-border-color);

  & .navbar__logo {
    display: flex;
    align-items: center;

    & img {
      height: 42px;
    }
  }

  & .navbar__items--right > *:not(:last-child) {
    margin-right: 15px;
    padding: 0;
  }
  & .navbar__search {
    & .navbar__search-input {
      border: 1px solid var(--bt-default-border-color);
      border-radius: var(--ifm-global-radius);
    }
  }
}
