.navbar__items--right > *:not(:last-child) {
  margin-right: 15px;
  padding: 0;

  & .navbar__search {
    & .navbar__search-input {
      border: 1px solid var(--bt-search-border-color);
      border-radius: 4px;
    }
  }
}
