/* 
* Sidebar items hover/selected states
*/

.theme-doc-sidebar-container {
  background-color: var(--bt-sidebar-background-color);
  border: 1px solid var(--bt-default-border-color);
}

.theme-doc-sidebar-item-category-level-1:not(:last-of-type)
  > ul
  > li:last-of-type {
  padding-bottom: 24px;
}

.theme-doc-sidebar-item-link,
.theme-doc-sidebar-item-link-level-1,
.theme-doc-sidebar-item-category > div {
  border-radius: var(--ifm-global-radius);
  margin-top: 0 !important;
  padding: 2px 8px 2px 0px;
  font-size: 14px;
}

.theme-doc-sidebar-item-link > .menu__link--active,
.theme-doc-sidebar-item-category > .menu__list-item-collapsible--active {
  background: var(--ifm-menu-color-background-active);
}

.theme-doc-sidebar-item-link > .menu__link--active:hover,
.theme-doc-sidebar-item-category > .menu__list-item-collapsible--active:hover {
  background: var(--bt-menu-color-background-active-hover);
}

.menu__caret:hover {
  background: none;
}

.menu__list .menu__list {
  padding-left: calc(var(--ifm-menu-link-padding-horizontal) * 2.25);
}
