/* tabs */

div:has(> .bt-tabs) {
  --ifm-code-border-radius: 8px;
  border-radius: 8px;
  background-color: var(--bt-sidebar-background-color);
}

.bt-tabs {
  border-radius: 8px 8px 0 0;
  border-top: 1px solid var(--bt-tabs-border-color);
  border-left: 1px solid var(--bt-tabs-border-color);
  border-right: 1px solid var(--bt-tabs-border-color);

  & + div {
    margin-top: 0 !important;
  }
  & li:first-child {
    margin-left: 24px;
  }

  & + div * .theme-code-block {
    --prism-background-color: transparent !important;
    background: var(--bt-code-editor-background-color);
    padding-left: 24px;
    box-shadow: var(--ifm-global-shadow-lw);
    border-radius: 0 0 8px 8px !important;
  }

  & > .tabs__item[aria-selected="true"] {
    color: var(--ifm-heading-color);
  }

  & > .tabs__item {
    padding-top: 14px;
    padding-bottom: 14px;
    color: #8c90a4;
  }

  & > .tabs__item:hover {
    background: none;
    color: var(--ifm-heading-color);
  }

  & > .tabs__item--active {
    padding-bottom: 12px;
    border-bottom: 2px solid var(--ifm-tabs-color-active-border);
  }
}
