.buttons {
  padding: 4px;
  border-radius: 8px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.08) 0%, rgba(255, 255, 255, 0.08) 100%);
  border: 1px solid #CFD3E8;
}

.buttons button {
  background-color: transparent;
  border: none;
  padding: 4px 12px;
  line-height: 24px;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 600;
  color: var(--ifm-heading-color);
}

.buttons button.right {
  background-color: var(--ifm-color-primary);
  color: var(--bt-primary-button-color)
}

.buttons button.wrong {
  background-color: #ffa726;
  color: rgba(0, 0, 0, 0.87);
}

.buttons button.na {
  background-color: #4A4D5F;
  color: #EBEDFF;
}


[data-theme="dark"] {
  .buttons {
    border: none;
    box-shadow: 0px 8px 10px 0px rgba(4, 6, 17, 0.20), 0px 0px 0px 1px rgba(255, 255, 255, 0.10) inset;
  }

  .buttons button.right {
    color: rgba(0, 0, 0, 0.87);
  }
  .buttons button.na {
    background-color: rgba(255, 255, 255, 0.16);
  }
}
