:root {
  --background-color: #fff;
}

[data-theme="dark"] {
  --background-color: var(--bt-sidebar-background-color);
}

.card {
  margin-top: 16px;
  margin-bottom: 16px;
}

.grid {
  display: grid;
  column-gap: 24px;
  grid-template-areas:
    "icon question button-group"
    "icon content content";

  grid-template-columns:
    min-content 1fr;

  /* negative margins to compensate card padding */
  margin: -8px 0 -8px -8px;
}

.icon {
  grid-area: icon;
}

.question {
  grid-area: question;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 180%; /* 28.8px */
  letter-spacing: -0.25px;
}

.content {
  grid-area: content;
}

.button-group {
  grid-area: button-group;
  align-self: start;
  justify-self: end;
}

@media only screen and (max-width: 800px) {
  .grid {
    grid-template-areas:
    "icon question"
    "icon button-group"
    "icon content";
  }

  .button-group {
    margin-top: 16px;
    justify-self: start;
  }

  .card {
    text-align: left;
  }
}
