

.checkbox {
  width: 36px;
  height: 36px;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

.empty {
  border-color: rgba(209, 215, 255, 0.12);
  background-color: rgba(209, 215, 255, 0.12);
}

.right {
  border-color: rgba(0, 210, 239, 0.15);
  background: rgba(0, 210, 239, 0.15);
}

.wrong {
  border-color: rgba(255, 167, 38, 0.30);
  background: rgba(255, 167, 38, 0.12);
}

.na {
  opacity: 0.4;
  border-color: rgba(209, 215, 255, 0.12);
  background: rgba(209, 215, 255, 0.12);
}
