.card {
  padding: 24px;
  gap: 16px;
  box-shadow: var(--ifm-global-shadow-lw);
  border-radius: 8px;
}

.clickable:hover {
  cursor: pointer;
}

.card:hover {
  box-shadow: var(--ifm-global-shadow-lw);
}

.card-container {
  display: flex;
  flex-flow: row wrap;
  row-gap: 16px;
  justify-content: space-between;
}

.card-container .card {
  width: 49.37%;
}

@media only screen and (max-width: 800px) {
  .card-container .card {
    width: 100%;
  }

  .card {
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
}
