.hero {
  border-radius: var(--ifm-global-radius);
  margin-bottom: 30px;
}

.content {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border-radius: var(--ifm-global-radius);
  background-color: #f9f9ff;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(hsla(0, 0%, 100%, 0.1)),
    to(hsla(0, 0%, 100%, 0))
  );
  background-image: linear-gradient(
    180deg,
    hsla(0, 0%, 100%, 0.1),
    hsla(0, 0%, 100%, 0)
  );
  border: 1px solid #e6e8f1;
}

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 32px;
  padding: 8px 14px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #eaedff;
  color: rgba(150, 158, 194, 0.9);
  font-size: 10px;
  text-shadow: 0 1px 0 hsla(0, 0%, 100%, 0.16);
}

.window {
  display: flex;
  align-items: center;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.action {
  width: 10px;
  height: 10px;
  border-radius: var(--ifm-global-radius);
  background-color: rgba(171, 176, 204, 0.46);
  box-shadow: 0 1px 0 0 hsla(0, 0%, 100%, 0.15),
    inset 0 1px 1px 0 rgba(139, 146, 182, 0.06);
}

.formWrapper {
  padding: 24px 24px 40px;
}

.element {
  width: 100%;
  align-items: center;
  height: 40px;
  margin-bottom: 0;
  padding-right: 16px;
  padding-left: 16px;
  align-items: center;
  border: 1px solid #c3c8dd;
  border-radius: var(--ifm-global-radius);
  box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.04), 0 2px 1px 0 rgba(0, 0, 0, 0.02);
}
