:root {
  --bt-card-background-color: linear-gradient(
    100.66deg,
    #ffffff 18.43%,
    #f0f3ff 120.94%
  );
}

[data-theme="dark"] {
  --bt-card-background-color: linear-gradient(
    273.61deg,
    #111424 19.2%,
    #191d32 82.55%
  );
}

.metadata {
  display: inline-flex;
  align-items: center;
}
.metadata p {
  margin-right: 18px;
  font-size: 12px;
  line-height: 146%;
  font-weight: 500;
  margin-bottom: 8px;
}

.metadata p:last-of-type {
  margin-bottom: 24px;
}

.gh-card {
  display: flex !important;
  place-items: center;
  background: var(--bt-card-background-color);
}

.gh-card--logo {
  background: #fff !important;
  width: 100px !important;
  height: 100px !important;
}

@media only screen and (max-width: 800px) {
  .metadata {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
