.metadata {
  display: inline-flex;
  align-items: center;
}
.metadata p {
  margin-right: 18px;
  font-size: 12px;
  line-height: 146%;
  font-weight: 500;
}

.container {
  display: flex !important;
}
