.icon {
  border: 1px solid rgba(51, 71, 204, 0.12);
  border-radius: 100%;
  margin-right: 24px;
  padding: 56px;
}

.icon p {
  display: block;
  margin: 0 auto;
}

.content {
  display: flex;
  flex: auto;
  flex-direction: column;
}

.content h3 {
  margin-bottom: 6px;
}

.repository {
  font-family: var(--ifm-font-family-monospace);
  font-weight: 600;
  font-size: 12px;
  line-height: 140%;
  margin-bottom: 18px;
}

.repository p {
  display: flex;
  margin-bottom: 0;
}
.repository p svg {
  margin-right: 6px;
}

.metadata {
  display: inline-flex;
  align-items: center;
}
.metadata p {
  margin-right: 18px;
  font-size: 12px;
  line-height: 146%;
  font-weight: 500;
}

.version {
  background: rgba(0, 164, 186, 0.15);
  border-radius: 4px;
  padding: 3px 8px;
  gap: 4px;
  font-weight: 500;
  letter-spacing: 0.1px;
  font-weight: 600;
  font-size: 10px;
  line-height: 140%;
  color: #00a4ba;
  margin-right: 8px;
}
