.version {
  background: rgba(0, 164, 186, 0.15);
  border-radius: 4px;
  padding: 3px 8px;
  gap: 4px;
  font-weight: 500;
  letter-spacing: 0.1px;
  font-weight: 600;
  font-size: 10px;
  line-height: 140%;
  color: #00a4ba;
  margin-right: 8px;
}

.metadata {
  display: inline-flex;
  align-items: center;
}
.metadata p {
  margin-right: 18px;
  font-size: 12px;
  line-height: 146%;
  font-weight: 500;
}

.container {
  display: flex !important;
}
