:root {
  --bt-sdk-logo-background-color: #fff;
}

[data-theme="dark"] {
  --bt-sdk-logo-background-color: var(--bt-sidebar-background-color);
}

.round-border {
  border: 1px solid var(--bt-default-border-color);
  border-radius: 50%;
  width: 74px;
  height: 74px;
  padding: 5px;
  background: var(--bt-sdk-logo-background-color);
}
.round-border svg {
  width: 100%;
  height: 100%;
}

.repository {
  display: flex;
  margin-bottom: 18px;
  font-family: var(--ifm-font-family-monospace);
  font-weight: 600;
  font-size: 12px;
  line-height: 140%;
}

.repository svg {
  margin-right: 6px;
}

@media only screen and (max-width: 800px) {
  .repository {
    place-content: center;
  }
}
